<!DOCTYPE html>
<html>
<head>
<th:block th:insert="fragments/head"></th:block>
</head>
<body>
<th:block th:insert="fragments/navHead"></th:block>
<div style="margin-right: 50px; margin-left: 50px; text-align:center; margin-top: 60px;">
<h2 class="display-1">Lista de Productos</h2>
<div class="container">
		<a class="btn btn-info" th:href="@{/productos/insertar}">Insertar Producto</a>
	</div>
	<table  class="table table-sm table-dark">
		<div class="table-responsive">
			<table class="table align-middle">
				 <thead>
	        		<tr>
	        			<th>Id</th>
	        			<th>Id Categoria</th>
	        			<th>Nombre</th>
	        			<th>Descripcion</th>
	        			<th>Precio</th>
	        			<th>Stock</th>
	        			<th>Fecha Alta</th>
	        			<th>Fecha Baja</th>
	        			<th>Impuesto</th>
	        			<th>Opciones</th>
	        		</tr>
	        		<tbody th:each="producto : ${productos}">
	        			<tr>
	        				<td th:text="${producto.id}"></td>
	        				<td th:text="${producto.id_categoria}"></td>
	        				<td th:text="${producto.nombre}"></td>
	        				<td th:text="${producto.descripcion}"></td>
	        				<td th:text="${producto.precio}"></td>
	        				<td th:text="${producto.stock}"></td>
	        				<td th:text="${producto.fecha_alta}"></td>
	        				<td th:text="${producto.fecha_baja}"></td>
	        				<td th:text="${producto.impuesto}"></td>
	        				<td>
	        					<a class="btn btn-secondary" th:href="@{/productos/edit/}+${producto.id}">Editar</a>
								<a class="btn btn-danger" th:href="@{/productos/del/}+${producto.id}" >Eliminar</a>
	        				</td>
	        			</tr>
	        		</tbody>
	      		</thead>
			</table>
		</div>
	</table>
	
	
</div>	
</body>
</html>