<!DOCTYPE html>
<html>
<head>
<th:block th:insert="fragments/head"></th:block>
<link th:href="@{/css/detalles.css}" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/navHead"></th:block>
<div style="margin-right: 50px; margin-left: 50px; text-align:center; margin-top: 100px;">
		<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img th:src="${producto.imagen}" /></div>
						</div>
						
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title" th:text="${producto.nombre}"></h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
						</div>
						<p class="product-description" th:text="${producto.descripcion}"></p>
						<h4 class="price">Precio: <span th:text="${producto.precio}+€"></span></h4>
						<p class="vote">Valoración media de los clientes <strong th:text="${valoracion}+' sobre 5 '"></strong></p>
						<div class="action">
							<a th:href="@{/carrito/putcarrito/}+${producto.id}" class="add-to-cart btn btn-default" type="button">Comprar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block th:insert="fragments/footer"></th:block> 
</body>
</html>