<!DOCTYPE html>
<html>
<head>
<th:block th:insert="fragments/head"></th:block>
</head>
<body>
<th:block th:insert="fragments/navHead"></th:block>

<div th:if="${session.menu != null}">
	<th:block th:insert="fragments/menu"></th:block>
</div>

<div style="margin-right: 50px; margin-left: 50px; text-align:center; margin-top: 60px;">
	<table  class="table table-sm table-dark">
		<div class="table-responsive">
			<table class="table align-middle">
				 <thead>
        			<tr>
        				<th>Nombre</th>
        				<th>Descripcion</th>
        				<th><a  class="link-secondary" th:href="@{/precio}">Precio</a></th>
        			</tr>
        		<tbody th:each="producto : ${productos}">
        			<tr>
        				<td th:text="${producto.nombre}"></td>
        				<td th:text="${producto.descripcion}"></td>
        				<td th:text="${producto.precio}"></td>
        			</tr>
        		</tbody>
      		</thead>
		</table>
	</div>
</table>	
</div>
</body>
</html>