<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>login</title>


    <!-- Bootstrap core CSS -->
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link th:href="@{css/signin.css}" rel="stylesheet">
    
</head>
<body class="text-center">
<!-- th:object="${usLog}" -->
	<main class="form-signin">
		<form method="post" style="text-align: center;" th:action="@{/login/log}" th:object="${usuarios}">
			<div class="form-floating">
				<input type="text"  class="form-control" id="email" style="margin: 5px;" name="email" placeholder="Introduce el email"/>
				<label for="email">Email</label>
			</div>
			<div class="form-floating">
				<input type="password"  id="clave" class="form-control" style="margin: 5px;" name="clave" placeholder="Introduce la clave"/>
				<a href="#"><img id="ojo" style="padding-left: 5px; vertical-align: middle;" src="/img/visible.png" width="20" /></a>
				<label for="clave">Password</label>
				<script type="text/javascript">
					var pass = document.getElementById('clave');
					var img = document.getElementById('ojo');
		
					img.onclick = function () {
					if(pass.type == "password"){
						pass.type = "text";
						img.src = "/img/invisible.png";
					}else{
						pass.type = "password";
						img.src = "/img/visible.png";
					}
			
					};
				</script>
			</div>
			<div class="checkbox mb-3">
				<span th:text="${mensaje}"></span>
    		</div>
			<input type="submit" class="w-100 btn btn-lg btn-primary" name="btnSubmit" value="Entrar" />
		</form>
	</main>	
</body>
</html>