<!DOCTYPE html>
<html>
<head>
<th:block th:insert="fragments/head"></th:block>
</head>
<body>
<th:block th:insert="fragments/navHead"></th:block>
<div style="margin-right: 50px; margin-left: 50px; text-align:center; margin-top: 60px;">
<h2 class="display-1">Pedidos</h2>
	<table  class="table table-sm table-dark">
		<div class="table-responsive">
			<table class="table align-middle">
				 <thead>
	        		<tr>
	        			<th>Fecha</th>
	        			<th>Metodo de Pago</th>
	        			<th>Estado</th>
	        			<th>Total</th>
	        			<th>Opciones</th>
	        		</tr>
	        		<tbody th:each="pedido : ${pedidos}">
	        			<tr>
	        				<td th:text="${pedido.fecha}"></td>
	        				<td th:text="${pedido.metodo_pago}"></td>
	        				<td th:text="${pedido.estado}"></td>
	        				<td th:text="${pedido.total}"></td>
	        				<td>
	        					<a class="btn btn-secondary" th:href="@{/perfil/detalles/}+${pedido.id}">Ver</a>
	        					<span th:if="${pedido.estado != 'enviado'}">
	        						<a class="btn btn-danger" th:href="@{/perfil/cancelar/}+${pedido.id}">Cancelar</a>
	        					</span>
	        					<span th:if="${pedido.estado == 'enviado'}">
	        						<a class="btn btn-info" th:href="@{/perfil/pdf/}+${pedido.id}">Descargar PDF</a>
	        						<a class="btn btn-info" th:href="@{/pdf/}+${pedido.num_factura}+'.pdf'">Ver PDF</a>
	        					</span>
	        				</td>
	        			</tr>
	        		</tbody>
	      		</thead>
			</table>
		</div>
	</table>
</div>	
<th:block th:insert="fragments/footer"></th:block> 
</body>
</html>